
#main_body{
  position: relative;
  align-self: right;
  width: 100%;
  height: 100%;
  border: 10px solid black;
  /*background-image: url(../images/cobble.jpg);*/
}

#p1{

  position: absolute;
  border: 10px solid aqua;
  width:20px;
  height:20px;
  top: 80px;
  left: 80px;
  background-color: aqua;
}
.square{  
  position: fixed;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: #fff;

  }
#map{
  position: fixed;
  text-align: center;
  width: 75px;
  height: 20px;
  border: 1px solid black;
}
#pos{
  position: fixed;
  text-align: center;
  width: 75px;
  height: 20px;
  border: 1px solid black;
}

#attack{
    background-color: green;
    width: 3px;
    height: 10px;
    position: absolute;
}
.shot{
  position: absolute;
  width: 5px; 
  height: 5px;
  background: red;
}

